<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adding_design.css') }}" media="all">
    <style type="text/css">
     /* Style pour l'exemple*/
      article.col-sm-10, nav.col-sm-2 {
        line-height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="col-lg-12">
          <img src="{{ url_for('static', filename='image/logo.png') }}" alt="OCLogo">
          Bienvenue sur la page de Granpy bot
        </div>
      </header>
      <div class="row">
        <!--
        <nav class="col-xs-2">
            Menu
            <div class="list-group list-group-flush">
            <a href="http://openclassroom.com" class="list-group-item list-group-item-action bg-light">OpenClassroom</a>
            <a href="http://openclassroom.com" class="list-group-item list-group-item-action bg-light">OC</a>
            <a href="http://openclassroom.com" class="list-group-item list-group-item-action bg-light">OC</a>
            <a href="http://openclassroom.com" class="list-group-item list-group-item-action bg-light">OC</a>
            </div>
        </nav>
      -->
        <section class="col-sm-10">
          Posez votre/vos question(s)
          <div class="row">
            <div id='reponses' class="col-sm-10">
              Reponses
            </div>
            <div class="col-sm-2">
              <div class="row">
                <aside class="col-sm-12">
                  <img  src="{{ url_for('static', filename='image/robot.png') }}" alt="Robot">
                </aside>
                <aside class="col-sm-12">
                  <img src="{{ url_for('static', filename='image/papy.png') }}" alt="Papy">
                </aside>
              </div>
            </div>
          </div>
        </section>
        <section class="col-sm-10">
          Entrez votre question.
          <div class="row">
            <form id='form' class="col-sm-12">
                <input id="input" type=text name="textquestion" />
                <input type="submit" name="submit" value="Envoyer" />
            </form>
          </div>
        </section>    
      </div>
      <footer class="row">
        <div class="col-lg-12">
          Baptiste Simon - GitHub link
        </div>
      </footer>
    </div>

  <script src="{{ url_for('static', filename='js/question.js') }}"></script>
  
</body>
</html>